$lightColor: #5199FF;
$medColor: #1771F1;
$darkColor: #0260E8;

$lightGrayColor: #888;
$grayColor: #777;
$darkGrayColor: #666;
$footerColor: #333;

$backgroundGray: #F7F7F7;

$lightWhiteColor: #EEE;
$whiteColor: #FFF;
$blackColor: #000;

$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;