.text-center {
  text-align: center !important;
}

.h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: $grayColor;
}

.margin-bottom-small { margin-bottom: 2rem;}
.margin-bottom-med { margin-bottom: 4rem;}
.margin-bottom-big { margin-bottom: 8rem;}